# HOMEWORK 5: TEXT CLASSIFICATION
In this homework, you will create models to classify texts from TRUE call-center. There are two classification tasks:
1. Action Classification: Identify which action the customer would like to take (e.g. enquire, report, cancle)
2. Object Classification: Identify which object the customer is referring to (e.g. payment, truemoney, internet, roaming) 

In this homework, you are asked to do the following tasks:
1. Data Cleaning
2. Preprocessing data for keras
3. Build and evaluate a model for "action" classification
4. Build and evaluate a model for "object" classification
5. Build and evaluate a multi-task model that does both "action" and "object" classifications in one-go 


Note: we have removed phone numbers from the dataset for privacy purposes.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import shutil
shutil.copy("/content/drive/MyDrive/fra501/Dataset/clean-phone-data.csv", "/content/clean-phone-data.csv")

'/content/clean-phone-data.csv'

## Import Libs

In [ ]:
%matplotlib inline
import pandas
import sklearn
import numpy as np
from IPython.display import display

import matplotlib.pyplot as plt

## Loading data
First, we load the data from disk into a Dataframe.

A Dataframe is essentially a table, or 2D-array/Matrix with a name for each column.

In [ ]:
phone_df = pandas.read_csv('clean-phone-data.csv')

Let's preview the data.

In [ ]:
data_df = phone_df.copy()

In [ ]:
# Show the top 5 rows
display(data_df)
# Summarize the data
data_df.describe()

,Sentence Utterance,Action,Object
0,<PHONE_NUMBER_REMOVED> ผมไปจ่ายเงินที่ Counte...,enquire,payment
1,internet ยังความเร็วอยุ่เท่าไหร ครับ,enquire,package
2,ตะกี้ไปชำระค่าบริการไปแล้ว แต่ยังใช้งานไม่ได้...,report,suspend
3,พี่ค่ะยังใช้ internet ไม่ได้เลยค่ะ เป็นเครื่อ...,enquire,internet
4,ฮาโหล คะ พอดีว่าเมื่อวานเปิดซิมทรูมูฟ แต่มันโ...,report,phone_issues
...,...,...,...
16170,เชื่อมต่ออินเตอร์เน็ตไม่ได้ค่ะ,enquire,internet
16171,โทรออกต่างประเทศค่ะ,enquire,idd
16172,ยอดเงินเหลือเท่าไหร่ค่ะ,enquire,balance
16173,ยอดเงินในระบบ,enquire,balance
16174,สอบถามโปรโมชั่นปัจจุบันที่ใช้อยู่ค่ะ,enquire,package

       Sentence Utterance   Action   Object
count               16175    16175    16175
unique              13389       10       33
top           บริการอื่นๆ  enquire  service
freq                   97    10377     2525

## Data cleaning

We call the DataFrame.describe() again.
Notice that there are 33 unique labels/classes for object and 10 unique labels for action that the model will try to predict.
But there are unwanted duplications e.g. Idd,idd,lotalty_card,Lotalty_card

Also note that, there are 13389 unqiue sentence utterances from 16175 utterances. You have to clean that too!

## #TODO 1: 
You will have to remove unwanted label duplications as well as duplications in text inputs. 
Also, you will have to trim out unwanted whitespaces from the text inputs. 
This shouldn't be too hard, as you have already seen it in the demo.

In [ ]:
display(data_df.describe())
display(data_df.Object.unique())
display(data_df.Action.unique())

       Sentence Utterance   Action   Object
count               16175    16175    16175
unique              13389       10       33
top           บริการอื่นๆ  enquire  service
freq                   97    10377     2525

array(['payment', 'package', 'suspend', 'internet', 'phone_issues',
       'service', 'nonTrueMove', 'balance', 'detail', 'bill', 'credit',
       'promotion', 'mobile_setting', 'iservice', 'roaming', 'truemoney',
       'information', 'lost_stolen', 'balance_minutes', 'idd',
       'TrueMoney', 'garbage', 'Payment', 'IDD', 'ringtone', 'Idd',
       'rate', 'loyalty_card', 'contact', 'officer', 'Balance', 'Service',
       'Loyalty_card'], dtype=object)

array(['enquire', 'report', 'cancel', 'Enquire', 'buy', 'activate',
       'request', 'Report', 'garbage', 'change'], dtype=object)

In [ ]:
# TODO1: Data cleaning
data_df = data_df.drop_duplicates(['Sentence Utterance'], ignore_index=True)

In [ ]:
for i in range(len(data_df)):
  data_df['Sentence Utterance'][i] = data_df['Sentence Utterance'][i].replace(' ', '')
  data_df['Action'][i] = data_df['Action'][i].lower()
  data_df['Object'][i] = data_df['Object'][i].lower()

In [ ]:
display(data_df.describe())
display(data_df.Object.unique())
display(data_df.Action.unique())

                Sentence Utterance   Action   Object
count                        13389    13389    13389
unique                       13282        8       26
top     ต้องการเปลี่ยนโปรโมชั่นค่ะ  enquire  service
freq                             3     8658     2111

array(['payment', 'package', 'suspend', 'internet', 'phone_issues',
       'service', 'nontruemove', 'balance', 'detail', 'bill', 'credit',
       'promotion', 'mobile_setting', 'iservice', 'roaming', 'truemoney',
       'information', 'lost_stolen', 'balance_minutes', 'idd', 'garbage',
       'ringtone', 'rate', 'loyalty_card', 'contact', 'officer'],
      dtype=object)

array(['enquire', 'report', 'cancel', 'buy', 'activate', 'request',
       'garbage', 'change'], dtype=object)

In [ ]:
data_df.head()

                                  Sentence Utterance   Action        Object
0  <PHONE_NUMBER_REMOVED>ผมไปจ่ายเงินที่CounterSe...  enquire       payment
1                 internetยังความเร็วอยุ่เท่าไหรครับ  enquire       package
2    ตะกี้ไปชำระค่าบริการไปแล้วแต่ยังใช้งานไม่ได้ค่ะ   report       suspend
3   พี่ค่ะยังใช้internetไม่ได้เลยค่ะเป็นเครื่องโกลไล  enquire      internet
4  ฮาโหลคะพอดีว่าเมื่อวานเปิดซิมทรูมูฟแต่มันโทรออ...   report  phone_issues

## #TODO 2: Preprocessing data for Keras
You will be using Tensorflow 2 keras in this assignment. Please show us how you prepare your data for keras.
Don't forget to split data into train and test sets (+ validation set if you want)

In [ ]:
# TODO2: Preprocessing data for Keras
input_chars = list(set(''.join(data_df['Sentence Utterance'])))
# action_chars = list(set(''.join(data_df['Action'])))
# object_chars = list(set(''.join(data_df['Object'])))

# +1 for padding
data_size, vocab_size = len(data_df), len(input_chars)+1 
print(data_size, vocab_size)
# action_vocab_size = len(action_chars)+1
# object_vocab_size = len(object_chars)+1
# print(data_size, vocab_size, action_vocab_size, object_vocab_size)

maxlen = len(max(data_df['Sentence Utterance'], key=len))
print('max len:', maxlen)

13389 152
max len: 449

In [ ]:
sorted_chars= sorted(input_chars)
# sorted_action_chars= sorted(action_chars)
# sorted_object_chars= sorted(object_chars)
sorted_chars.insert(0,"<PAD>") #PADDING for input
# sorted_action_chars.insert(0,"<PAD>") #PADDING for action
# sorted_object_chars.insert(0,"<PAD>") #PADDING for object
#Input
char_to_ix = { ch:i for i,ch in enumerate(sorted_chars) }
ix_to_char = { i:ch for i,ch in enumerate(sorted_chars) } #reverse dictionary
# #Action
# action_char_to_ix = { ch:i for i,ch in enumerate(sorted_action_chars) }
# ix_to_action_char = { i:ch for i,ch in enumerate(sorted_action_chars) } #reverse dictionary
# #Object
# object_char_to_ix = { ch:i for i,ch in enumerate(sorted_object_chars) }
# ix_to_object_char = { i:ch for i,ch in enumerate(sorted_object_chars) } #reverse dictionary

print(ix_to_char)
# print(ix_to_action_char)
# print(ix_to_object_char)

{0: '<PAD>', 1: '\n', 2: '"', 3: '#', 4: '%', 5: '&', 6: "'", 7: '(', 8: ')', 9: '*', 10: '+', 11: ',', 12: '-', 13: '.', 14: '/', 15: '0', 16: '1', 17: '2', 18: '3', 19: '4', 20: '5', 21: '6', 22: '7', 23: '8', 24: '9', 25: '<', 26: '>', 27: '?', 28: '@', 29: 'A', 30: 'B', 31: 'C', 32: 'D', 33: 'E', 34: 'F', 35: 'G', 36: 'H', 37: 'I', 38: 'J', 39: 'K', 40: 'L', 41: 'M', 42: 'N', 43: 'O', 44: 'P', 45: 'R', 46: 'S', 47: 'T', 48: 'U', 49: 'V', 50: 'W', 51: 'X', 52: 'Y', 53: '_', 54: 'a', 55: 'b', 56: 'c', 57: 'd', 58: 'e', 59: 'f', 60: 'g', 61: 'h', 62: 'i', 63: 'j', 64: 'k', 65: 'l', 66: 'm', 67: 'n', 68: 'o', 69: 'p', 70: 'q', 71: 'r', 72: 's', 73: 't', 74: 'u', 75: 'v', 76: 'w', 77: 'x', 78: 'y', 79: 'z', 80: 'é', 81: 'ก', 82: 'ข', 83: 'ฃ', 84: 'ค', 85: 'ฆ', 86: 'ง', 87: 'จ', 88: 'ฉ', 89: 'ช', 90: 'ซ', 91: 'ฌ', 92: 'ญ', 93: 'ฎ', 94: 'ฐ', 95: 'ฑ', 96: 'ฒ', 97: 'ณ', 98: 'ด', 99: 'ต', 100: 'ถ', 101: 'ท', 102: 'ธ', 103: 'น', 104: 'บ', 105: 'ป', 106: 'ผ', 107: 'ฝ', 108: 'พ', 109: 'ฟ', 110: 'ภ', 111: 'ม', 112: 'ย', 113: 'ร', 114: 'ฤ', 115: 'ล', 116: 'ว', 117: 'ศ', 118: 'ษ', 119: 'ส', 120: 'ห', 121: 'ฬ', 122: 'อ', 123: 'ฮ', 124: 'ฯ', 125: 'ะ', 126: 'ั', 127: 'า', 128: 'ำ', 129: 'ิ', 130: 'ี', 131: 'ึ', 132: 'ื', 133: 'ุ', 134: 'ู', 135: 'ฺ', 136: 'เ', 137: 'แ', 138: 'โ', 139: 'ใ', 140: 'ไ', 141: 'ๆ', 142: '็', 143: '่', 144: '้', 145: '๊', 146: '๋', 147: '์', 148: 'ํ', 149: '“', 150: '”', 151: '…'}

In [ ]:
temp = []
action_to_num = {}
for act in data_df['Action']:
  if act not in temp:
    action_to_num[act] = len(temp)
    temp.append(act)

temp = []
object_to_num = {}
for obj in data_df['Object']:
  if obj not in temp:
    object_to_num[obj] = len(temp)
    temp.append(obj)

print(action_to_num)
print(object_to_num)

{'enquire': 0, 'report': 1, 'cancel': 2, 'buy': 3, 'activate': 4, 'request': 5, 'garbage': 6, 'change': 7}
{'payment': 0, 'package': 1, 'suspend': 2, 'internet': 3, 'phone_issues': 4, 'service': 5, 'nontruemove': 6, 'balance': 7, 'detail': 8, 'bill': 9, 'credit': 10, 'promotion': 11, 'mobile_setting': 12, 'iservice': 13, 'roaming': 14, 'truemoney': 15, 'information': 16, 'lost_stolen': 17, 'balance_minutes': 18, 'idd': 19, 'garbage': 20, 'ringtone': 21, 'rate': 22, 'loyalty_card': 23, 'contact': 24, 'officer': 25}

In [ ]:
df = data_df.copy()

In [ ]:
for act in action_to_num:
  df.loc[df["Action"] == act, "Action"] = action_to_num[act]

for obj in object_to_num:
  df.loc[df["Object"] == obj, "Object"] = object_to_num[obj]

df.head()

                                  Sentence Utterance Action Object
0  <PHONE_NUMBER_REMOVED>ผมไปจ่ายเงินที่CounterSe...      0      0
1                 internetยังความเร็วอยุ่เท่าไหรครับ      0      1
2    ตะกี้ไปชำระค่าบริการไปแล้วแต่ยังใช้งานไม่ได้ค่ะ      1      2
3   พี่ค่ะยังใช้internetไม่ได้เลยค่ะเป็นเครื่องโกลไล      0      3
4  ฮาโหลคะพอดีว่าเมื่อวานเปิดซิมทรูมูฟแต่มันโทรออ...      1      4

In [ ]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.layers import Bidirectional, Concatenate, Permute, Dot, Input, LSTM, Multiply
from tensorflow.keras.layers import RepeatVector, Dense, Activation, Lambda, Reshape, SimpleRNN
from tensorflow.keras.callbacks import LambdaCallback
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import load_model, Model
import tensorflow.keras.backend as K
import numpy as np

In [ ]:
train = df[:int(len(df)*0.7)].copy()
test = df[int(len(df)*0.7):].copy()

In [ ]:
train_X = []
for line in train['Sentence Utterance']:
    temp=[]
    for char in line:
        temp.append(char_to_ix[char])
    train_X.append(temp)
train_X = pad_sequences(train_X,maxlen=maxlen)
train_X = to_categorical(train_X,vocab_size)
train_X =train_X.reshape(len(train),maxlen ,vocab_size)
train_act = train['Action']
train_obj = train['Object']

test_X = []
for line in test['Sentence Utterance']:
    temp=[]
    for char in line:
        temp.append(char_to_ix[char])
    test_X.append(temp)
test_X = pad_sequences(test_X,maxlen=maxlen)
test_X = to_categorical(test_X,vocab_size)
test_X =test_X.reshape(len(test),maxlen ,vocab_size)
test_act = test['Action']
test_obj = test['Object']

In [ ]:
print(train_X.shape, test_X.shape)

(9372, 449, 152) (4017, 449, 152)

In [ ]:
train_act = to_categorical(train_act, len(df.Action.unique()))
train_obj = to_categorical(train_obj, len(df.Object.unique()))
test_act = to_categorical(test_act, len(df.Action.unique()))
test_obj = to_categorical(test_obj, len(df.Object.unique()))

## #TODO 3: Build and evaluate a model for "action" classification

In [ ]:
#TODO 3: Build and evaluate a model for "action" classification
def train_model(maxlen, hidden, n_class):
  X = Input(shape=(maxlen, vocab_size))

  # a0 = Input(shape=(hidden,), name='a0')
  # a = a0

  reshapor = Reshape((1,  vocab_size)) #Reshape the size of a tensor                         
  RNN_cell = SimpleRNN(hidden, return_state = True) #An RNN Cell       
  output_layer = Dense(n_class, activation='softmax')  #softmax output layer  
    
  # REMOVE DUE TO PROCESSING POWER NOT ENOUGH
    # Loop  through the sequence of length Tx
  # for t in range(maxlen):
  #     # Select the "t"th time step vector from X.
  #     x =  X[:,t,:] #--> shape(n_values)
  #     # Reshape x to be (1, n_values)
  #     x = reshapor(x) 
  #     # Update the hidden state of the RNN 
  #     # a, _ = RNN_cell(x, initial_state=[a]) 
  #     if t > 0:
  #       a, _ = RNN_cell(x, initial_state=[a])
  #     elif t==0:
  #       a, _ = RNN_cell(x)
      # Pass the hidden vector to a softmax function
  # x = reshapor(X)
  a, _ = RNN_cell(X)
  out = output_layer(a)
        
    # Create the model instance
  model =  Model(inputs=X, outputs=out)    
  return model

In [ ]:
model = train_model(maxlen, 16, len(df.Action.unique()))
opt = Adam(lr=0.001) #optimizer
model.compile(optimizer=opt, loss='categorical_crossentropy', metrics=['accuracy'])
model.summary()

WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.Adam.

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 449, 152)]        0

 simple_rnn_1 (SimpleRNN)    [(None, 16),              2704
                              (None, 16)]

 dense_1 (Dense)             (None, 8)                 136

=================================================================
Total params: 2,840
Trainable params: 2,840
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(train_X, train_act,verbose=1 ,epochs=50)

Epoch 1/50
293/293 [==============================] - 28s 93ms/step - loss: 1.4244 - accuracy: 0.5794
Epoch 2/50
293/293 [==============================] - 24s 84ms/step - loss: 1.3173 - accuracy: 0.6104
Epoch 3/50
293/293 [==============================] - 26s 90ms/step - loss: 1.3091 - accuracy: 0.6094
Epoch 4/50
293/293 [==============================] - 26s 90ms/step - loss: 1.2532 - accuracy: 0.6153
Epoch 5/50
293/293 [==============================] - 26s 88ms/step - loss: 1.2378 - accuracy: 0.6140
Epoch 6/50
293/293 [==============================] - 24s 82ms/step - loss: 1.1851 - accuracy: 0.6276
Epoch 7/50
293/293 [==============================] - 26s 90ms/step - loss: 1.1631 - accuracy: 0.6366
Epoch 8/50
293/293 [==============================] - 27s 91ms/step - loss: 1.1522 - accuracy: 0.6415
Epoch 9/50
293/293 [==============================] - 25s 85ms/step - loss: 1.1369 - accuracy: 0.6463
Epoch 10/50
293/293 [==============================] - 25s 87ms/step - loss: 1.1287 - accuracy: 0.6454
Epoch 11/50
293/293 [==============================] - 27s 91ms/step - loss: 1.1154 - accuracy: 0.6514
Epoch 12/50
293/293 [==============================] - 27s 92ms/step - loss: 1.0793 - accuracy: 0.6598
Epoch 13/50
293/293 [==============================] - 25s 84ms/step - loss: 1.0368 - accuracy: 0.6695
Epoch 14/50
293/293 [==============================] - 25s 87ms/step - loss: 1.0123 - accuracy: 0.6767
Epoch 15/50
293/293 [==============================] - 26s 90ms/step - loss: 0.9876 - accuracy: 0.6826
Epoch 16/50
293/293 [==============================] - 26s 89ms/step - loss: 0.9652 - accuracy: 0.6962
Epoch 17/50
293/293 [==============================] - 23s 80ms/step - loss: 1.1479 - accuracy: 0.6625
Epoch 18/50
293/293 [==============================] - 26s 88ms/step - loss: 1.2794 - accuracy: 0.6106
Epoch 19/50
293/293 [==============================] - 26s 89ms/step - loss: 1.2629 - accuracy: 0.6120
Epoch 20/50
293/293 [==============================] - 24s 80ms/step - loss: 1.2240 - accuracy: 0.6188
Epoch 21/50
293/293 [==============================] - 26s 89ms/step - loss: 1.1100 - accuracy: 0.6500
Epoch 22/50
293/293 [==============================] - 26s 89ms/step - loss: 1.0090 - accuracy: 0.6802
Epoch 23/50
293/293 [==============================] - 25s 84ms/step - loss: 0.9418 - accuracy: 0.7013
Epoch 24/50
293/293 [==============================] - 25s 84ms/step - loss: 1.0368 - accuracy: 0.6826
Epoch 25/50
293/293 [==============================] - 26s 89ms/step - loss: 0.9766 - accuracy: 0.7000
Epoch 26/50
293/293 [==============================] - 26s 90ms/step - loss: 0.9345 - accuracy: 0.7140
Epoch 27/50
293/293 [==============================] - 23s 80ms/step - loss: 1.0111 - accuracy: 0.7045
Epoch 28/50
293/293 [==============================] - 26s 88ms/step - loss: 1.2945 - accuracy: 0.6269
Epoch 29/50
293/293 [==============================] - 26s 88ms/step - loss: 1.2356 - accuracy: 0.6268
Epoch 30/50
293/293 [==============================] - 23s 79ms/step - loss: 1.2301 - accuracy: 0.6268
Epoch 31/50
293/293 [==============================] - 26s 89ms/step - loss: 1.2289 - accuracy: 0.6258
Epoch 32/50
293/293 [==============================] - 26s 89ms/step - loss: 1.2188 - accuracy: 0.6272
Epoch 33/50
293/293 [==============================] - 24s 82ms/step - loss: 1.2202 - accuracy: 0.6258
Epoch 34/50
293/293 [==============================] - 25s 86ms/step - loss: 1.2390 - accuracy: 0.6222
Epoch 35/50
293/293 [==============================] - 26s 89ms/step - loss: 1.2537 - accuracy: 0.6168
Epoch 36/50
293/293 [==============================] - 26s 88ms/step - loss: 1.2003 - accuracy: 0.6290
Epoch 37/50
293/293 [==============================] - 24s 81ms/step - loss: 1.2042 - accuracy: 0.6207
Epoch 38/50
293/293 [==============================] - 26s 89ms/step - loss: 1.1741 - accuracy: 0.6246
Epoch 39/50
293/293 [==============================] - 26s 89ms/step - loss: 1.1232 - accuracy: 0.6294
Epoch 40/50
293/293 [==============================] - 23s 80ms/step - loss: 1.0850 - accuracy: 0.6401
Epoch 41/50
293/293 [==============================] - 26s 89ms/step - loss: 1.0318 - accuracy: 0.6586
Epoch 42/50
293/293 [==============================] - 26s 89ms/step - loss: 1.0046 - accuracy: 0.6657
Epoch 43/50
293/293 [==============================] - 24s 83ms/step - loss: 0.9962 - accuracy: 0.6821
Epoch 44/50
293/293 [==============================] - 26s 87ms/step - loss: 0.9141 - accuracy: 0.7076
Epoch 45/50
293/293 [==============================] - 26s 89ms/step - loss: 0.8931 - accuracy: 0.7111
Epoch 46/50
293/293 [==============================] - 26s 90ms/step - loss: 0.8686 - accuracy: 0.7179
Epoch 47/50
293/293 [==============================] - 23s 80ms/step - loss: 0.9551 - accuracy: 0.6980
Epoch 48/50
293/293 [==============================] - 26s 89ms/step - loss: 0.8849 - accuracy: 0.7149
Epoch 49/50
293/293 [==============================] - 26s 89ms/step - loss: 0.8525 - accuracy: 0.7122
Epoch 50/50
293/293 [==============================] - 24s 81ms/step - loss: 0.8256 - accuracy: 0.7345

In [ ]:
model.evaluate(test_X, test_act)

126/126 [==============================] - 4s 30ms/step - loss: 0.8061 - accuracy: 0.7864

[0.8061073422431946, 0.7864077687263489]

*The result can be improve easily by training more epoch but we will train it only until 50 epochs due to insufficient RAM

## #TODO 4: Build and evaluate a model for "object" classification

In [ ]:
#TODO 4: Build and evaluate a model for "object" classification
model = train_model(maxlen, 16, len(df.Object.unique()))
opt = Adam(lr=0.001) #optimizer
model.compile(optimizer=opt, loss='categorical_crossentropy', metrics=['accuracy'])
model.summary()

WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.Adam.

Model: "model_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_3 (InputLayer)        [(None, 449, 152)]        0

 simple_rnn_2 (SimpleRNN)    [(None, 16),              2704
                              (None, 16)]

 dense_2 (Dense)             (None, 26)                442

=================================================================
Total params: 3,146
Trainable params: 3,146
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(train_X, train_obj,verbose=1 ,epochs=50)

Epoch 1/50
293/293 [==============================] - 31s 102ms/step - loss: 2.7510 - accuracy: 0.1605
Epoch 2/50
293/293 [==============================] - 27s 91ms/step - loss: 2.6229 - accuracy: 0.1774
Epoch 3/50
293/293 [==============================] - 26s 89ms/step - loss: 2.6049 - accuracy: 0.2004
Epoch 4/50
293/293 [==============================] - 25s 86ms/step - loss: 2.5896 - accuracy: 0.2088
Epoch 5/50
293/293 [==============================] - 27s 93ms/step - loss: 2.5731 - accuracy: 0.2188
Epoch 6/50
293/293 [==============================] - 27s 92ms/step - loss: 2.5540 - accuracy: 0.2272
Epoch 7/50
293/293 [==============================] - 27s 93ms/step - loss: 2.5312 - accuracy: 0.2339
Epoch 8/50
293/293 [==============================] - 25s 84ms/step - loss: 2.5177 - accuracy: 0.2389
Epoch 9/50
293/293 [==============================] - 27s 91ms/step - loss: 2.4655 - accuracy: 0.2573
Epoch 10/50
293/293 [==============================] - 27s 91ms/step - loss: 2.3912 - accuracy: 0.2927
Epoch 11/50
293/293 [==============================] - 26s 90ms/step - loss: 2.3660 - accuracy: 0.3003
Epoch 12/50
293/293 [==============================] - 25s 86ms/step - loss: 2.3217 - accuracy: 0.3126
Epoch 13/50
293/293 [==============================] - 26s 90ms/step - loss: 2.3026 - accuracy: 0.3233
Epoch 14/50
293/293 [==============================] - 27s 91ms/step - loss: 2.3064 - accuracy: 0.3262
Epoch 15/50
293/293 [==============================] - 27s 91ms/step - loss: 2.2520 - accuracy: 0.3418
Epoch 16/50
293/293 [==============================] - 25s 84ms/step - loss: 2.2436 - accuracy: 0.3445
Epoch 17/50
293/293 [==============================] - 26s 90ms/step - loss: 2.2224 - accuracy: 0.3521
Epoch 18/50
293/293 [==============================] - 27s 94ms/step - loss: 2.2008 - accuracy: 0.3569
Epoch 19/50
293/293 [==============================] - 27s 92ms/step - loss: 2.1905 - accuracy: 0.3605
Epoch 20/50
293/293 [==============================] - 26s 90ms/step - loss: 2.1789 - accuracy: 0.3651
Epoch 21/50
293/293 [==============================] - 25s 84ms/step - loss: 2.1574 - accuracy: 0.3677
Epoch 22/50
293/293 [==============================] - 28s 94ms/step - loss: 2.1434 - accuracy: 0.3704
Epoch 23/50
293/293 [==============================] - 27s 92ms/step - loss: 2.1443 - accuracy: 0.3710
Epoch 24/50
293/293 [==============================] - 27s 93ms/step - loss: 2.1117 - accuracy: 0.3801
Epoch 25/50
293/293 [==============================] - 26s 89ms/step - loss: 2.1153 - accuracy: 0.3819
Epoch 26/50
293/293 [==============================] - 26s 87ms/step - loss: 2.0770 - accuracy: 0.3913
Epoch 27/50
293/293 [==============================] - 27s 93ms/step - loss: 2.0776 - accuracy: 0.3916
Epoch 28/50
293/293 [==============================] - 27s 94ms/step - loss: 2.0449 - accuracy: 0.4054
Epoch 29/50
293/293 [==============================] - 28s 96ms/step - loss: 2.0378 - accuracy: 0.4073
Epoch 30/50
293/293 [==============================] - 28s 96ms/step - loss: 2.0203 - accuracy: 0.4086
Epoch 31/50
293/293 [==============================] - 25s 85ms/step - loss: 2.0051 - accuracy: 0.4146
Epoch 32/50
293/293 [==============================] - 27s 94ms/step - loss: 1.9977 - accuracy: 0.4117
Epoch 33/50
293/293 [==============================] - 28s 95ms/step - loss: 1.9896 - accuracy: 0.4214
Epoch 34/50
293/293 [==============================] - 27s 93ms/step - loss: 1.9720 - accuracy: 0.4187
Epoch 35/50
293/293 [==============================] - 27s 92ms/step - loss: 1.9765 - accuracy: 0.4214
Epoch 36/50
293/293 [==============================] - 25s 84ms/step - loss: 1.9567 - accuracy: 0.4250
Epoch 37/50
293/293 [==============================] - 27s 92ms/step - loss: 1.9459 - accuracy: 0.4267
Epoch 38/50
293/293 [==============================] - 27s 92ms/step - loss: 1.9447 - accuracy: 0.4254
Epoch 39/50
293/293 [==============================] - 27s 93ms/step - loss: 1.9297 - accuracy: 0.4284
Epoch 40/50
293/293 [==============================] - 26s 89ms/step - loss: 1.9351 - accuracy: 0.4292
Epoch 41/50
293/293 [==============================] - 25s 87ms/step - loss: 1.9283 - accuracy: 0.4266
Epoch 42/50
293/293 [==============================] - 27s 93ms/step - loss: 1.9451 - accuracy: 0.4255
Epoch 43/50
293/293 [==============================] - 27s 93ms/step - loss: 1.9168 - accuracy: 0.4346
Epoch 44/50
293/293 [==============================] - 27s 93ms/step - loss: 1.9693 - accuracy: 0.4165
Epoch 45/50
293/293 [==============================] - 25s 87ms/step - loss: 1.8936 - accuracy: 0.4367
Epoch 46/50
293/293 [==============================] - 26s 89ms/step - loss: 1.8897 - accuracy: 0.4450
Epoch 47/50
293/293 [==============================] - 27s 92ms/step - loss: 1.8894 - accuracy: 0.4384
Epoch 48/50
293/293 [==============================] - 27s 92ms/step - loss: 1.8630 - accuracy: 0.4483
Epoch 49/50
293/293 [==============================] - 27s 92ms/step - loss: 1.8673 - accuracy: 0.4477
Epoch 50/50
293/293 [==============================] - 24s 83ms/step - loss: 1.8716 - accuracy: 0.4489

In [ ]:
model.evaluate(test_X, test_obj)

126/126 [==============================] - 4s 30ms/step - loss: 2.0686 - accuracy: 0.3886

[2.068596124649048, 0.3885984420776367]

*The result can be improve easily by training more epoch but we will train it only until 50 epochs due to insufficient RAM

## #TODO 5: Build and evaluate a multi-task model that does both "action" and "object" classifications in one-go 

This can be a bit tricky, if you are not familiar with the Keras functional API. PLEASE READ these webpages(https://www.tensorflow.org/guide/keras/functional, https://keras.io/getting-started/functional-api-guide/) before you start this task.   

Your model will have 2 separate output layers one for action classification task and another for object classification task. 

This is a rough sketch of what your model might look like:
image --> https://drive.google.com/file/d/1r7M6tFyQDu6pJIxLd_fn2kBMjo_CWmUK/view?usp=share_link

In [ ]:
#TODO 5: Build and evaluate a multi-task model that does both "action" and "object" classifications in one-go
def train_model(maxlen, hidden, n_act, n_obj):
  X = Input(shape=(maxlen, vocab_size))


  reshapor = Reshape((1,  vocab_size)) #Reshape the size of a tensor                         
  RNN_cell = SimpleRNN(hidden, return_state = True) #An RNN Cell       
  output_act = Dense(n_act, activation='softmax')  #softmax output layer 
  output_obj = Dense(n_obj, activation='softmax')  #softmax output layer   
    
  a, _ = RNN_cell(X)
  out_act = output_act(a)
  out_obj = output_obj(a)
        
    # Create the model instance
  model =  Model(inputs=X, outputs=[out_act, out_obj])    
  return model

In [ ]:
model = train_model(maxlen, 16, len(df.Action.unique()), len(df.Object.unique()))
opt = Adam(lr=0.001) #optimizer
model.compile(optimizer=opt, loss='categorical_crossentropy', metrics=['accuracy'])
model.summary()

WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.Adam.

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_2 (InputLayer)           [(None, 449, 152)]   0           []

 simple_rnn_1 (SimpleRNN)       [(None, 16),         2704        ['input_2[0][0]']
                                 (None, 16)]

 dense_2 (Dense)                (None, 8)            136         ['simple_rnn_1[0][0]']

 dense_3 (Dense)                (None, 26)           442         ['simple_rnn_1[0][0]']

==================================================================================================
Total params: 3,282
Trainable params: 3,282
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
model.fit(train_X, [train_act, train_obj],verbose=1 ,epochs=50)

Epoch 1/50
293/293 [==============================] - 29s 91ms/step - loss: 4.1712 - dense_2_loss: 1.3873 - dense_3_loss: 2.7838 - dense_2_accuracy: 0.5990 - dense_3_accuracy: 0.1352
Epoch 2/50
293/293 [==============================] - 27s 91ms/step - loss: 3.9526 - dense_2_loss: 1.3211 - dense_3_loss: 2.6315 - dense_2_accuracy: 0.6104 - dense_3_accuracy: 0.1735
Epoch 3/50
293/293 [==============================] - 27s 91ms/step - loss: 3.9449 - dense_2_loss: 1.3175 - dense_3_loss: 2.6273 - dense_2_accuracy: 0.6104 - dense_3_accuracy: 0.1732
Epoch 4/50
293/293 [==============================] - 25s 85ms/step - loss: 3.9376 - dense_2_loss: 1.3132 - dense_3_loss: 2.6244 - dense_2_accuracy: 0.6104 - dense_3_accuracy: 0.1742
Epoch 5/50
293/293 [==============================] - 26s 89ms/step - loss: 3.9214 - dense_2_loss: 1.3050 - dense_3_loss: 2.6164 - dense_2_accuracy: 0.6104 - dense_3_accuracy: 0.1819
Epoch 6/50
293/293 [==============================] - 28s 95ms/step - loss: 3.8719 - dense_2_loss: 1.2774 - dense_3_loss: 2.5946 - dense_2_accuracy: 0.6105 - dense_3_accuracy: 0.1994
Epoch 7/50
293/293 [==============================] - 27s 91ms/step - loss: 3.8119 - dense_2_loss: 1.2478 - dense_3_loss: 2.5641 - dense_2_accuracy: 0.6110 - dense_3_accuracy: 0.2175
Epoch 8/50
293/293 [==============================] - 25s 86ms/step - loss: 3.7419 - dense_2_loss: 1.2119 - dense_3_loss: 2.5300 - dense_2_accuracy: 0.6133 - dense_3_accuracy: 0.2239
Epoch 9/50
293/293 [==============================] - 26s 88ms/step - loss: 3.7479 - dense_2_loss: 1.2152 - dense_3_loss: 2.5326 - dense_2_accuracy: 0.6156 - dense_3_accuracy: 0.2153
Epoch 10/50
293/293 [==============================] - 27s 91ms/step - loss: 3.8497 - dense_2_loss: 1.2708 - dense_3_loss: 2.5789 - dense_2_accuracy: 0.6058 - dense_3_accuracy: 0.2049
Epoch 11/50
293/293 [==============================] - 27s 91ms/step - loss: 3.8580 - dense_2_loss: 1.2762 - dense_3_loss: 2.5818 - dense_2_accuracy: 0.6122 - dense_3_accuracy: 0.2043
Epoch 12/50
293/293 [==============================] - 26s 88ms/step - loss: 3.7649 - dense_2_loss: 1.2282 - dense_3_loss: 2.5367 - dense_2_accuracy: 0.6211 - dense_3_accuracy: 0.2280
Epoch 13/50
293/293 [==============================] - 25s 86ms/step - loss: 3.6555 - dense_2_loss: 1.1650 - dense_3_loss: 2.4905 - dense_2_accuracy: 0.6365 - dense_3_accuracy: 0.2489
Epoch 14/50
293/293 [==============================] - 27s 91ms/step - loss: 3.5889 - dense_2_loss: 1.1381 - dense_3_loss: 2.4508 - dense_2_accuracy: 0.6422 - dense_3_accuracy: 0.2710
Epoch 15/50
293/293 [==============================] - 26s 90ms/step - loss: 3.4806 - dense_2_loss: 1.0848 - dense_3_loss: 2.3958 - dense_2_accuracy: 0.6554 - dense_3_accuracy: 0.3014
Epoch 16/50
293/293 [==============================] - 26s 90ms/step - loss: 3.4417 - dense_2_loss: 1.0599 - dense_3_loss: 2.3818 - dense_2_accuracy: 0.6608 - dense_3_accuracy: 0.2932
Epoch 17/50
293/293 [==============================] - 25s 84ms/step - loss: 3.3755 - dense_2_loss: 1.0312 - dense_3_loss: 2.3443 - dense_2_accuracy: 0.6628 - dense_3_accuracy: 0.3091
Epoch 18/50
293/293 [==============================] - 27s 91ms/step - loss: 3.3130 - dense_2_loss: 0.9979 - dense_3_loss: 2.3151 - dense_2_accuracy: 0.6720 - dense_3_accuracy: 0.3085
Epoch 19/50
293/293 [==============================] - 27s 91ms/step - loss: 3.2647 - dense_2_loss: 0.9821 - dense_3_loss: 2.2826 - dense_2_accuracy: 0.6771 - dense_3_accuracy: 0.3210
Epoch 20/50
293/293 [==============================] - 26s 88ms/step - loss: 3.2687 - dense_2_loss: 0.9871 - dense_3_loss: 2.2816 - dense_2_accuracy: 0.6771 - dense_3_accuracy: 0.3206
Epoch 21/50
293/293 [==============================] - 25s 85ms/step - loss: 3.2484 - dense_2_loss: 0.9778 - dense_3_loss: 2.2706 - dense_2_accuracy: 0.6829 - dense_3_accuracy: 0.3239
Epoch 22/50
293/293 [==============================] - 27s 91ms/step - loss: 3.4216 - dense_2_loss: 1.0775 - dense_3_loss: 2.3441 - dense_2_accuracy: 0.6497 - dense_3_accuracy: 0.2780
Epoch 23/50
293/293 [==============================] - 27s 91ms/step - loss: 3.3718 - dense_2_loss: 1.0537 - dense_3_loss: 2.3182 - dense_2_accuracy: 0.6498 - dense_3_accuracy: 0.2973
Epoch 24/50
293/293 [==============================] - 27s 91ms/step - loss: 3.1895 - dense_2_loss: 0.9641 - dense_3_loss: 2.2254 - dense_2_accuracy: 0.6853 - dense_3_accuracy: 0.3506
Epoch 25/50
293/293 [==============================] - 26s 87ms/step - loss: 3.1313 - dense_2_loss: 0.9410 - dense_3_loss: 2.1903 - dense_2_accuracy: 0.6943 - dense_3_accuracy: 0.3580
Epoch 26/50
293/293 [==============================] - 27s 90ms/step - loss: 3.1332 - dense_2_loss: 0.9459 - dense_3_loss: 2.1872 - dense_2_accuracy: 0.6925 - dense_3_accuracy: 0.3648
Epoch 27/50
293/293 [==============================] - 26s 90ms/step - loss: 3.2232 - dense_2_loss: 0.9843 - dense_3_loss: 2.2389 - dense_2_accuracy: 0.6856 - dense_3_accuracy: 0.3429
Epoch 28/50
293/293 [==============================] - 27s 91ms/step - loss: 3.0657 - dense_2_loss: 0.9231 - dense_3_loss: 2.1426 - dense_2_accuracy: 0.6964 - dense_3_accuracy: 0.3793
Epoch 29/50
293/293 [==============================] - 25s 84ms/step - loss: 3.3719 - dense_2_loss: 1.0406 - dense_3_loss: 2.3313 - dense_2_accuracy: 0.6794 - dense_3_accuracy: 0.3221
Epoch 30/50
293/293 [==============================] - 26s 88ms/step - loss: 3.2159 - dense_2_loss: 0.9839 - dense_3_loss: 2.2320 - dense_2_accuracy: 0.6860 - dense_3_accuracy: 0.3504
Epoch 31/50
293/293 [==============================] - 27s 91ms/step - loss: 3.1847 - dense_2_loss: 0.9865 - dense_3_loss: 2.1982 - dense_2_accuracy: 0.6818 - dense_3_accuracy: 0.3596
Epoch 32/50
293/293 [==============================] - 27s 92ms/step - loss: 3.0164 - dense_2_loss: 0.9115 - dense_3_loss: 2.1049 - dense_2_accuracy: 0.6986 - dense_3_accuracy: 0.3965
Epoch 33/50
293/293 [==============================] - 26s 88ms/step - loss: 3.4786 - dense_2_loss: 1.1040 - dense_3_loss: 2.3746 - dense_2_accuracy: 0.6669 - dense_3_accuracy: 0.3100
Epoch 34/50
293/293 [==============================] - 25s 85ms/step - loss: 3.2934 - dense_2_loss: 1.0249 - dense_3_loss: 2.2686 - dense_2_accuracy: 0.6777 - dense_3_accuracy: 0.3392
Epoch 35/50
293/293 [==============================] - 27s 92ms/step - loss: 3.3142 - dense_2_loss: 1.0553 - dense_3_loss: 2.2589 - dense_2_accuracy: 0.6631 - dense_3_accuracy: 0.3378
Epoch 36/50
293/293 [==============================] - 27s 91ms/step - loss: 3.1434 - dense_2_loss: 0.9626 - dense_3_loss: 2.1807 - dense_2_accuracy: 0.6921 - dense_3_accuracy: 0.3725
Epoch 37/50
293/293 [==============================] - 27s 92ms/step - loss: 3.1978 - dense_2_loss: 0.9919 - dense_3_loss: 2.2058 - dense_2_accuracy: 0.6850 - dense_3_accuracy: 0.3668
Epoch 38/50
293/293 [==============================] - 24s 83ms/step - loss: 3.1021 - dense_2_loss: 0.9425 - dense_3_loss: 2.1597 - dense_2_accuracy: 0.6817 - dense_3_accuracy: 0.3832
Epoch 39/50
293/293 [==============================] - 27s 92ms/step - loss: 3.0610 - dense_2_loss: 0.9254 - dense_3_loss: 2.1356 - dense_2_accuracy: 0.6958 - dense_3_accuracy: 0.3899
Epoch 40/50
293/293 [==============================] - 27s 92ms/step - loss: 3.0287 - dense_2_loss: 0.9127 - dense_3_loss: 2.1160 - dense_2_accuracy: 0.7021 - dense_3_accuracy: 0.3896
Epoch 41/50
293/293 [==============================] - 27s 92ms/step - loss: 3.0755 - dense_2_loss: 0.9331 - dense_3_loss: 2.1424 - dense_2_accuracy: 0.6832 - dense_3_accuracy: 0.3880
Epoch 42/50
293/293 [==============================] - 25s 85ms/step - loss: 3.4817 - dense_2_loss: 1.0929 - dense_3_loss: 2.3888 - dense_2_accuracy: 0.6626 - dense_3_accuracy: 0.3185
Epoch 43/50
293/293 [==============================] - 26s 89ms/step - loss: 3.1923 - dense_2_loss: 0.9813 - dense_3_loss: 2.2110 - dense_2_accuracy: 0.6806 - dense_3_accuracy: 0.3581
Epoch 44/50
293/293 [==============================] - 27s 91ms/step - loss: 3.0944 - dense_2_loss: 0.9552 - dense_3_loss: 2.1391 - dense_2_accuracy: 0.6794 - dense_3_accuracy: 0.3873
Epoch 45/50
293/293 [==============================] - 27s 91ms/step - loss: 3.1997 - dense_2_loss: 1.0373 - dense_3_loss: 2.1624 - dense_2_accuracy: 0.6492 - dense_3_accuracy: 0.3703
Epoch 46/50
293/293 [==============================] - 25s 85ms/step - loss: 3.0480 - dense_2_loss: 0.9549 - dense_3_loss: 2.0930 - dense_2_accuracy: 0.6745 - dense_3_accuracy: 0.3982
Epoch 47/50
293/293 [==============================] - 26s 87ms/step - loss: 3.0392 - dense_2_loss: 0.9477 - dense_3_loss: 2.0916 - dense_2_accuracy: 0.6768 - dense_3_accuracy: 0.3938
Epoch 48/50
293/293 [==============================] - 27s 91ms/step - loss: 2.9987 - dense_2_loss: 0.9336 - dense_3_loss: 2.0651 - dense_2_accuracy: 0.6800 - dense_3_accuracy: 0.4025
Epoch 49/50
293/293 [==============================] - 27s 91ms/step - loss: 3.0414 - dense_2_loss: 0.9448 - dense_3_loss: 2.0966 - dense_2_accuracy: 0.6837 - dense_3_accuracy: 0.3936
Epoch 50/50
293/293 [==============================] - 26s 87ms/step - loss: 2.9675 - dense_2_loss: 0.9190 - dense_3_loss: 2.0485 - dense_2_accuracy: 0.6866 - dense_3_accuracy: 0.4092

In [ ]:
model.evaluate(test_X, [test_act, test_obj])

126/126 [==============================] - 6s 48ms/step - loss: 3.0096 - dense_2_loss: 0.8492 - dense_3_loss: 2.1604 - dense_2_accuracy: 0.7665 - dense_3_accuracy: 0.3799

[3.009551763534546,
 0.8491876721382141,
 2.1603636741638184,
 0.7664924263954163,
 0.3798854947090149]

*The result can be improve easily by training more epoch but we will train it only until 50 epochs due to insufficient RAM